h1, h2, h3, h4, h5, h6 { text-shadow:-1px -1px 0 rgba(0,0,0,0.3); }
code, pre {
  background-color:#f7f7f7;
  border:1px solid #000;
  text-shadow:none;
}
legend, .page-header { border-bottom:1px solid ; }
hr { border-bottom:none; }
.navbar .brand {
  font-weight:bold;
  text-shadow:1px 1px 1px rgba(0,0,0,0.3);
  border-right:1px solid #000;
}
.navbar .navbar-text {
  padding:0 15px;
  font-weight:bold;
}
.navbar .nav > li > a {
  text-shadow:1px 1px 1px rgba(0,0,0,0.3);
  border-right:1px solid rgba(0,0,0,0.2);
  border-left:1px solid rgba(255,255,255,0.1);
}
.navbar .nav > li > a:hover {
  border-left:1px solid transparent;
  border-right:1px solid transparent;
}
.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover {
  color:;
  background-color:;
  border-right:1px solid #000;
}
.navbar .navbar-search .search-query { border:1px solid #000; }
.navbar .btn, .navbar .btn-group { margin:4px 0; }
.navbar .divider-vertical {
  background-color:transparent;
  border-right:none;
}
.navbar .dropdown-menu::after { border-bottom:6px solid ; }
.navbar-inverse .nav li > a {
  background-image:none;
  background-color:transparent;
}
@media (max-width: ) {
  .navbar .nav-collapse .nav li > a, .navbar .nav-collapse .nav li > a:hover, .navbar .nav-collapse .nav .active > a, .navbar .nav-collapse .nav .active > a:hover {
    color:;
    border:1px solid transparent;
    background-color:transparent;
    background-image:none;
  }
  .navbar .nav-collapse .nav li > a:hover, .navbar .nav-collapse .nav .active > a:hover { background-color:; }
  .navbar .nav-collapse .navbar-form, .navbar .nav-collapse .navbar-search { border-color:transparent; }
  .navbar .nav-collapse .nav-header { color:; }
  .navbar-inverse .nav-collapse .nav li > a:hover, .navbar-inverse .nav-collapse .nav .active > a:hover { background-color: !important; }
}
div.subnav {
  margin:0 1px;
  border:1px solid transparent;
}
div.subnav .nav > li > a {
  color:;
  text-shadow:1px 1px 1px rgba(0,0,0,0.3);
  border-right:1px solid #000;
  border-left:1px solid ;
}
div.subnav .nav > li > a:hover {
  color:;
  background-color:;
  border-left:1px solid transparent;
  border-right:1px solid transparent;
}
div.subnav .nav > li.active > a, div.subnav .nav > li.active > a:hover {
  color:;
  background-color:;
  border-right:1px solid #000;
}
div.subnav .nav > li:first-child > a, div.subnav .nav > li:first-child > a:hover { border-left:1px solid transparent; }
div.subnav .nav > li.active:last-child > a, div.subnav .nav > li:last-child > a:hover { border-right:1px solid #000; }
div.subnav .open .dropdown-toggle {
  border-right:1px solid #000;
  border-left:1px solid ;
}
div.subnav.subnav-fixed {
  top:;
  margin:0;
}
div.subnav.subnav-fixed .nav > li.active:first-child > a, div.subnav.subnav-fixed .nav > li:first-child > a:hover { border-left:1px solid #000; }
.nav .nav-header { text-shadow:-1px -1px 0 rgba(0,0,0,0.3); }
.nav > li > a {
  border:none;
  color:;
  font-weight:bold;
  text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}
.nav li.active > a, .nav li.active > a:hover {
  background-color:transparent;
  border:none;
  color:;
}
.nav > li.disabled > a, .nav > li.disabled > a:hover { color:; }
.nav li > a:hover {
  background-color:transparent;
  color:;
}
.nav-list { background-color:; }
.nav-list li > a {
  background-image:none;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
}
.nav-list .nav-header {
  color:;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
}
.nav-list .divider {
  border-bottom:1px solid #000;
  background-color:transparent;
}
.nav-tabs { border-bottom:none; }
.tabs-below .nav-tabs { border-top:none; }
.tabs-left .nav-tabs { border-right:none; }
.tabs-right .nav-tabs { border-left:none; }
.nav-tabs.nav-stacked li > a, .nav-tabs.nav-stacked li > a:hover {
  border:1px solid #000;
  background-image:none;
}
.nav-tabs.nav-stacked li > a:hover, .nav-tabs.nav-stacked .active > a, .nav-tabs.nav-stacked .active > a:hover {
  background-color:;
  color:;
}
.breadcrumb { border:1px solid transparent; }
.breadcrumb a {
  color:;
  font-weight:bold;
}
.breadcrumb li {
  color:;
  font-weight:bold;
  text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}
.pagination ul > li > a, .pagination ul > li > span {
  border-left:1px solid ;
  border-right:1px solid #000;
  border-top:none;
  border-bottom:none;
  color:;
  font-weight:bold;
  text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}
.pagination ul > li > a:hover, .pagination ul > li > span:hover { border-left:1px solid transparent; }
.pagination ul > .active > a, .pagination ul > .active > a:hover, .pagination ul > .active > span, .pagination ul > .active > span:hover {
  color:;
  background-color:;
  border-left:1px solid transparent;
}
.pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > span, .pagination ul > .disabled > span:hover {
  border-left:1px solid ;
  border-right:1px solid #000;
  border-top:none;
  border-bottom:none;
}
.pager li > a, .pager li > span { border:1px solid transparent; }
.pager li > a:hover, .pager li > span:hover { border:1px solid transparent; }
.pager .disabled a, .pager .disabled a:hover { background-color:transparent; }
.btn { border:1px solid ; }
.btn, .btn:hover {
  color:;
  font-weight:bold;
  text-shadow:-1px -1px 1px rgba(0,0,0,0.3);
}
.btn-primary {
  color:;
  text-shadow:1px 1px 1px rgba(255,255,255,0.3);
}
.caret { border-top-color:; }
.table tbody tr.success td { background-color:; }
.table tbody tr.error td { background-color:; }
.table tbody tr.info td { background-color:; }
label, input, button, select, textarea, legend { color:; }
legend, label { text-shadow:-1px -1px 0 rgba(0,0,0,0.3); }
.input-prepend .add-on, .input-append .add-on {
  vertical-align:top;
  background-color:;
  border-top:1px solid ;
  border-left:1px solid ;
  border-bottom:1px solid ;
  border-right:1px solid ;
  text-shadow:none;
}
.input-append .btn, .input-prepend .btn {
  margin-top:-1px;
  padding:5px 14px;
}
.uneditable-input, input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] { color:; }
.form-actions { border-top:none; }
.dropdown.open .dropdown-toggle {
  background-color:;
  color:;
}
.dropdown-submenu > a::after { border-left-color:; }
.label, .alert {
  color:rgba(255,255,255,0.9);
  text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
}
.alert {
  background-color:;
  border-color:;
}
.alert .alert-heading {
  color:rgba(255,255,255,0.9);
  text-shadow:-1px -1px 0 rgba(0,0,0,0.4);
}
.alert-success {
  background-color:;
  border-color:;
}
.alert-error {
  background-color:;
  border-color:;
}
.alert-info {
  background-color:;
  border-color:;
}
.thumbnail, a.thumbnail:hover { border:1px solid #000; }
.progress { background-color:#000; }
.footer { border-top:1px solid #000; }
.footer p { color:; }
.modal { background-color:#000; }
.modal-header { border-bottom:none; }
.modal-body { border-bottom:1px solid #1c1e22; }
.modal-footer {
  border-top:none;
  background-color:;
}
@media (max-width: 979px) {
  .navbar .brand { border-right:none; }
}
@media (max-width: 768px) {
  div.subnav .nav > li + li > a { border-top:1px solid transparent; }
}
